body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  background-color: #fff56a;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap; 
}
.note.new{
  background-color: #57b45c;
}
textarea{
  background-color: #57b45c;
  border: none;
  resize: none;
}
::placeholder{
  color: black;
}
textarea:focus{
  outline: none;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.container {
  max-width: 1000px;
  min-height: calc(100vh - 90px);
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover{
  background-color: #ededed;
  cursor: pointer;
}
.delete-icon:hover{
  cursor: pointer;
  color: #454749;
}
.search{
  display: flex;
  align-items: center;
  background-color: rgb(190, 182, 182);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input{
  border: none;
  background-color: rgb(190, 182, 182);
  width: 100%;
}
.search input:focus{
  outline: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header p{
  margin-right: 10px;
}
.dark-mode{
  background-color: black;
}
.dark-mode h1,.dark-mode p{
  color: #ffffff;
}
.toggle{
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toggle-input{
  display: none;
}
.toggle-fill{
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.3s;
}
.toggle-input:checked ~ .toggle-fill{
  background: #009578;
}
.toggle-fill::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.3s;
}
.toggle-input:checked ~ .toggle-fill::after{
  transform: translateX(var(--height));
}
.footer{
  max-width: 1000px;
  height: 90px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.footer p{
  font-size: 18px;
}
.footer img{
  max-width: 250px;
}